<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <style>
          body {
              font-family: Arial, Helvetica, sans-serif;
          }
          main {
              max-width: 80%;
              margin: auto;
              padding: 1em;
              background: aliceblue;
          }
        </style>
    </head>
    <body>
    <main>
      <h2>{{ page.title }}</h2>
      {{ page.content }}
    </main>
  </body>
</html>
